################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/Connectivity.Shared.dll
/bin/Debug/Direct.ExecutionResources.dll
/bin/Debug/Direct.Framework.dll
/bin/Debug/Direct.Interface.dll
/bin/Debug/Direct.MsOffice.Library.dll
/bin/Debug/Direct.MsOffice.Local.Library.dll
/bin/Debug/Direct.Office2007.Library.dll
/bin/Debug/Direct.Shared.dll
/bin/Debug/Direct.Shared.Library.dll
/bin/Debug/Direct.WebServiceProxy.dll
/bin/Debug/DocumentFormat.OpenXml.dll
/bin/Debug/KeyStoreManagement.dll
/bin/Debug/Microsoft.Vbe.Interop.dll
/bin/Debug/Microsoft.Web.Services2.dll
/bin/Debug/Newtonsoft.Json.dll
/bin/Debug/office.dll
/bin/Debug/PAteam.Library.OutlookExtended.dll
/bin/Debug/PAteam.Library.OutlookExtended.pdb
/bin/Debug/RESTSender.dll
/bin/Debug/stdole.dll
/.vs/PAteam.Library.OutlookExtended/v17/.suo
/.vs/PAteam.Library.OutlookExtended/v17/.wsuo
/.vs/PAteam.Library.OutlookExtended/v17/DocumentLayout.json
*.vsidx
*.sqlite
/obj/Release/.NETFramework,Version=v4.6.2.AssemblyAttributes.cs
/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/obj/Release/PAteam.Library.OutlookExtended.csproj.AssemblyReference.cache
/obj/Release/PAteam.Library.OutlookExtended.csproj.ResolveComReference.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/PAteam.L.44152518.Up2Date
/obj/Debug/PAteam.Library.OutlookExtended.csproj.AssemblyReference.cache
/obj/Debug/PAteam.Library.OutlookExtended.csproj.CoreCompileInputs.cache
/obj/Debug/PAteam.Library.OutlookExtended.csproj.FileListAbsolute.txt
/obj/Debug/PAteam.Library.OutlookExtended.csproj.ResolveComReference.cache
/obj/Debug/PAteam.Library.OutlookExtended.dll
/obj/Debug/PAteam.Library.OutlookExtended.pdb
/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Properties/.vs/Properties/v17/.wsuo
/Properties/.vs/Properties/v17/DocumentLayout.json
/Properties/.vs/VSWorkspaceState.json
